/* body{
    background-color:  purple  ;
} */

/* 
I don't like the this color
*/



/* body{
    background-color: red;
}
 */

#f{
    background-color: blue;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 8px;
}